<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0px;
        }

        .collapse {
            transition-delay: 1s;
        }

        .navbar-toggler {
            border-radius: 10px;
        }

        .srround {
            border-radius: 10px;
        }
        #searchinput{ 
            width:30vw;
            height:42px;
            
        }
        @media only screen and (max-width:600px) {
            #searchinput{ 
            width : 75vw;
        }
            #searchbutton{
                margin-left:auto;
                margin-top:5px;
            }
        }
        #searchbutton{
            height:42px;
            float:right;
        }
        @media only screen and (max-width:1200px){
            #searchinput{
            width:60vw;
            }
        }
        
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#">SITE NAME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Discussion Forum <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clubs and Chapters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/clubs">Club Info</a>
                        <a class="dropdown-item" href="/clubs/events">Events</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/clubs/recruitments/">Recruitments</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources/">resources</a>
                </li>

            </ul>
            <form action="/login/">
                <div>
                    <button class="srround btn btn-primary mr-2 mt-2" type="submit" id='login'>Login</button>
                </div>
            </form>
            <form action="/signup/">
                <div>
                    <button class="srround btn btn-info mt-2" type="submit" id='signup'>Signup</button>
                </div>
            </form>
        </div>

        </div>
    </nav>


    <h2 class='display-3 text-center'>Hello, VITIAN!</h2>
    <form class="form-inline my-2 my-lg-0 justify-content-center mr-2 ml-2">
        <div class='row' style='width:100%'>
            <div style='margin:auto'>
                <span>
                <input class="srround form-control mr-sm-2 " id='searchinput' type="search" style='margin-right:0px' placeholder="Search" aria-label="Search">
            </span>
            <span>
                <button class="srround btn btn-outline-info my-sm-0 " id='searchbutton'  type="submit">Search</button>
            </span>
            </div>
        </div>
    </form><br>

    <div class="container">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias vel at praesentium dolorem laboriosam nobis
            ad laborum facere reiciendis nostrum accusantium nam ut numquam expedita eius nihil illo, pariatur explicabo
            tempore unde soluta dolore. Temporibus placeat veniam id aliquid illum dicta rem dolores mollitia, ab
            distinctio pariatur blanditiis necessitatibus laudantium, similique doloremque qui minus rerum! Voluptatum
            soluta labore porro omnis harum pariatur debitis ratione ea. Minus, consectetur dolorum ullam nobis error
            quo. At dignissimos et suscipit hic dolorum architecto iusto dolore laboriosam, consectetur eaque ut nisi
            quo neque aperiam tempora maxime aut! Numquam obcaecati quod, quas illo eligendi voluptate laborum iste
            explicabo ratione aliquid culpa tempora. Id repellat, aliquam minima similique ullam sequi ipsam beatae
            doloremque. Ipsa explicabo beatae autem laborum, dolor atque iste iusto hic, temporibus repellat excepturi
            eaque ipsam at tempora fugit aliquid corrupti nam unde voluptatum ab tempore molestias? Consequuntur, error
            dolorum ad nobis natus consequatur impedit cumque possimus magnam animi hic velit architecto! Quisquam cum
            reprehenderit magni veniam temporibus eos numquam maiores corrupti quod voluptatibus iure, provident ab
            reiciendis necessitatibus! Quas placeat velit hic aspernatur in assumenda quo repellat provident, maxime
            facilis veniam labore voluptatum possimus at, numquam excepturi totam. Ad, magni quasi consectetur aliquid
            saepe magnam quod blanditiis atque voluptatem ipsam amet quidem maiores optio. Minus nam odit similique
            consequatur tempora officia sapiente porro deleniti inventore quo non eos quia expedita a nobis consectetur,
            voluptates voluptatem rem fugiat? Tempore aliquam doloribus, ducimus id velit odio dolor, labore, recusandae
            vitae voluptate corporis? Delectus, vitae error amet asperiores adipisci voluptatem qui assumenda culpa,
            sequi ab, rerum facilis illum voluptas ut alias aperiam exercitationem aspernatur expedita sint? Itaque
            libero iusto quidem animi voluptatum minus hic, nulla dolores explicabo consequuntur temporibus corporis
            culpa necessitatibus natus vero porro dolore inventore et ut fuga. Modi, facere! Consectetur nisi dicta sed
            officiis corrupti ipsam repellat aliquam! Maiores suscipit unde veritatis fuga magnam ratione corrupti
            omnis, nemo sunt sint, provident quisquam aspernatur harum aliquam quis. Doloribus repellendus vero quo
            fugiat dolorum praesentium expedita quam eos ipsum cupiditate, ex ab accusantium voluptatum pariatur
            similique inventore. Deserunt suscipit iste placeat inventore dolorem quisquam quas sequi, exercitationem
            rem necessitatibus eum accusamus, est earum tempora assumenda debitis. Blanditiis, autem, numquam sit aut
            amet at ab deleniti maxime repudiandae veritatis harum voluptatibus labore reiciendis obcaecati, ducimus
            eveniet eos eaque ad dolorem officia? Asperiores omnis minus earum tempora laboriosam necessitatibus unde
            voluptatibus quasi rem aliquam ut, consequuntur temporibus. Deleniti modi vero reiciendis temporibus tenetur
            ipsa eos sint, consequatur deserunt odio magni, distinctio in reprehenderit molestias culpa. Quasi nemo
            facere totam quam ipsam dolor illo vitae provident maiores enim tempore quo ipsa autem assumenda quia quae
            harum eum atque veniam itaque, eligendi rerum consequatur. Soluta, nisi provident sapiente quis a doloremque
            corrupti, vel voluptates incidunt, quidem quod sit dolores ducimus explicabo temporibus? Quasi aliquam hic
            reiciendis explicabo vero earum blanditiis doloribus perferendis tempora. Ullam est harum ipsa ab quasi esse
            eum expedita consequatur? Dolore ipsum voluptates nemo, obcaecati tempora sit expedita soluta numquam quae,
            hic eos molestiae maxime minus, est rem neque! Ex deleniti architecto iste eius quisquam! Laboriosam, eos
            et? Optio, maiores consequatur iusto dolor maxime illum quod, totam minus repudiandae praesentium alias qui
            ullam? Perspiciatis, asperiores! Asperiores veniam architecto cupiditate totam porro esse voluptas velit
            debitis ipsum, repellat perferendis perspiciatis incidunt dolorum, inventore quos itaque voluptatem
            voluptatum nisi tempora? Vero iste aspernatur illo cumque quam asperiores iure nam totam dicta molestias,
            hic eaque iusto, ullam, reprehenderit nemo laborum voluptatum pariatur architecto blanditiis neque ipsum
            mollitia! Pariatur ducimus quam doloribus porro expedita at! Illum animi quia ut eos nihil voluptates
            architecto consequatur itaque saepe blanditiis pariatur, minus dolore explicabo necessitatibus vel maxime
            placeat accusantium asperiores! Ipsam quod reprehenderit cupiditate iusto officiis, ad facere eligendi eius
            maxime ut vero, eaque voluptatibus totam explicabo minus repellat, architecto sint vitae nemo? Corporis qui
            id blanditiis illo repudiandae assumenda quisquam sunt similique, distinctio, ullam dolorum eius
            perspiciatis eveniet voluptate at porro odit atque, ut pariatur reiciendis quo! Perspiciatis iste hic
            delectus error harum accusamus voluptates magnam quaerat. Vero a nisi fugit magnam sequi iste ipsam
            doloremque voluptate, maiores sint quis perspiciatis quidem laboriosam sunt velit. At ea repellendus odio?
            Pariatur vitae nemo, saepe sint necessitatibus, perspiciatis odit odio quod tenetur adipisci ullam
            distinctio eveniet dolore quisquam deleniti dolores repellendus explicabo fuga, animi excepturi a doloribus
            in qui? Cum perspiciatis similique amet quam officia officiis quod mollitia placeat necessitatibus provident
            corrupti consequatur voluptatibus, ipsum maiores repudiandae. Dolorum maxime sint quo velit quod quam
            adipisci odit explicabo. Ipsam sapiente dolore temporibus ipsum odit magnam id porro expedita. Aut qui
            eligendi repellendus veniam est architecto amet debitis at ratione soluta possimus itaque quis nostrum porro
            magnam, velit corporis ab, harum distinctio asperiores aliquid ea? Voluptatibus nisi quam illo aut earum
            corporis, praesentium, sequi ducimus pariatur recusandae veritatis animi. Nihil impedit sequi dolorum,
            accusantium esse consequuntur quasi a labore eaque minima vero eligendi est suscipit nesciunt fugiat rerum
            cupiditate cumque reiciendis alias, facere laboriosam, saepe dolorem nobis? Fugiat iusto autem in at
            repellendus, eius esse eligendi, id aspernatur harum numquam maiores labore sed architecto dignissimos
            dolore. Officia deleniti maiores quae! Hic debitis voluptatibus sequi veniam enim cum. Ex, quae!
            Consequuntur aliquam ducimus accusamus ipsum id sit sunt autem cumque. Asperiores totam deleniti quae
            aperiam, sint quibusdam nisi fuga vero cupiditate hic, dolores officiis eaque illum eligendi dolore omnis ad
            voluptates! Iusto maxime repudiandae quidem dignissimos fugiat laudantium ratione est, excepturi esse
            doloribus optio quaerat qui? Ducimus nobis dicta facere cum cumque commodi ad at, inventore eveniet, sunt
            nihil ratione voluptatibus nesciunt. Quidem mollitia, dolore explicabo doloribus aliquam blanditiis dolorem
            voluptatem perferendis voluptas magni praesentium ipsa, facilis totam. Ullam eaque accusantium accusamus,
            necessitatibus culpa voluptatem! Facilis incidunt totam ab delectus exercitationem repellendus natus at,
            magnam omnis ipsam velit, expedita rerum voluptate id quis obcaecati explicabo voluptates repudiandae,
            architecto officiis! Distinctio voluptates nihil fugit reiciendis temporibus saepe enim aliquam assumenda
            quisquam nemo, voluptatem itaque, debitis ab perspiciatis? Corporis odit a totam rerum aspernatur,
            architecto placeat ea sunt consequuntur. Accusamus reiciendis animi incidunt dicta suscipit esse ipsa unde
            repellat non. Nisi hic veritatis obcaecati tempore impedit voluptatibus quis voluptatum, inventore
            reprehenderit aspernatur, facilis cupiditate mollitia officia eaque beatae repudiandae vero. Adipisci labore
            commodi explicabo maiores, reprehenderit vel nulla facilis qui nesciunt culpa tempora nisi quo unde velit
            quisquam odio debitis deserunt expedita at! Consectetur nulla labore consequatur ipsam hic architecto
            cupiditate doloribus, dolore facere unde expedita nam placeat sed corrupti perferendis deserunt maiores quo
            similique nobis autem veniam ullam animi laudantium? Quod quo et libero ipsam pariatur eum repellendus
            mollitia eaque reprehenderit. Accusamus dolore quisquam aliquid reprehenderit consectetur itaque eaque
            similique quae numquam incidunt blanditiis eos ex maiores fugit animi tempore molestias, totam earum rerum
            quod minus deserunt. Eius totam odit atque vero architecto? Cum sint, enim inventore veritatis reprehenderit
            iure corporis voluptas illum unde officiis recusandae maxime sed optio tempore rem nisi, eaque asperiores,
            saepe consectetur quam. Perspiciatis quia quam, nihil iusto provident culpa tempora doloribus, laudantium
            similique hic error, id a corrupti laborum iste officia ipsam. Quam quis earum assumenda eius ab quia non
            asperiores soluta a voluptatem quas, rerum dolorum sit at dolores quisquam. Adipisci laboriosam, dolores
            natus voluptas commodi pariatur obcaecati quo mollitia veniam odio similique modi repellat sunt itaque ipsam
            ipsa harum dolore amet ratione placeat provident nemo odit porro vel? Ducimus, aspernatur nulla maxime
            magnam, ex possimus atque facere maiores accusantium exercitationem, nostrum non nobis tempora quod
            perspiciatis. Sapiente doloremque, cupiditate est placeat eligendi repudiandae eum facere! Iusto,
            perferendis, corrupti est eos libero odit omnis esse corporis quisquam laudantium hic placeat commodi culpa
            doloremque cupiditate sapiente, tempore incidunt mollitia tenetur facilis. Excepturi, nihil! Quis fugit
            quibusdam voluptas dolores ea repudiandae dolor sequi, necessitatibus accusamus, in praesentium officia
            cupiditate doloribus rerum! Consectetur possimus quisquam tempore consequatur, eos nobis assumenda!
            Aspernatur sit ratione tempora, doloribus, velit distinctio earum impedit dolor assumenda quas incidunt
            omnis, aliquam laudantium architecto in nihil soluta optio ex deserunt magni amet illum dolorem tenetur
            voluptatibus. Harum velit architecto reprehenderit et? Maxime, sapiente iure sint cum dolorum distinctio id
            obcaecati autem, blanditiis vitae facere temporibus sequi mollitia incidunt. Temporibus pariatur quas ipsum
            voluptatibus laboriosam ab libero tempora praesentium cupiditate, ex in minima adipisci recusandae nulla,
            dolor ducimus? Nam sed perspiciatis laudantium, tempora rerum, deserunt id autem sit deleniti
            exercitationem, expedita possimus asperiores! Doloremque itaque ipsum corporis beatae reprehenderit
            provident a consequatur, odit, ea tenetur non. Obcaecati, cumque, amet culpa debitis veritatis dolorum
            soluta nobis, iusto tempore fugiat corrupti expedita quo nulla animi quae esse nesciunt. Quis voluptate,
            repellendus porro quam a commodi, suscipit delectus mollitia enim saepe impedit repudiandae! Doloremque
            suscipit excepturi et soluta, maiores quis deleniti porro officiis, laborum blanditiis eos illum
            repudiandae, facere tempora quae a ad. Numquam nesciunt aliquam odit quod saepe non at quo voluptates eius!
            Sunt expedita vel atque rem tenetur iure voluptatibus, ullam distinctio facere sint exercitationem, aut
            architecto reprehenderit labore impedit accusamus quisquam totam nam, incidunt tempore qui ipsa voluptatem?
            Rem quaerat esse voluptatibus quasi quam quisquam, eos mollitia iusto. Quas voluptatibus minus blanditiis
            sapiente nobis. Possimus at eos omnis nulla, itaque laborum vero cupiditate placeat, unde aut perspiciatis
            consectetur ex iusto quam dolor quibusdam dicta nostrum debitis iste laboriosam nisi qui excepturi quisquam
            rerum? Amet necessitatibus blanditiis eveniet mollitia eligendi vel culpa quod dolore veritatis praesentium
            asperiores debitis optio id, laboriosam nam eos porro ut odio distinctio harum. Eaque unde obcaecati sint
            soluta consequatur delectus officia maiores quidem dicta corrupti, eveniet, voluptas vero enim tempora esse
            dolores! Accusamus nesciunt eos aperiam, iste optio et. Eligendi velit molestiae voluptates hic provident
            corrupti aspernatur atque enim nemo laboriosam omnis, dignissimos distinctio dolor ea expedita! Quisquam
            mollitia quod reprehenderit deserunt alias neque dicta fugiat unde eius molestias atque ratione qui beatae
            numquam, nemo officiis laudantium quaerat cupiditate ipsa iste! Quis quod ad error accusamus laudantium
            quas. Alias sapiente amet, numquam officiis aut voluptas repudiandae ducimus rem, rerum eaque debitis
            aperiam voluptate harum quasi. Architecto similique voluptate culpa esse voluptates minus molestiae error
            nobis, repellendus qui alias maiores ab aliquid sequi mollitia eum vel quas libero pariatur, reprehenderit
            delectus illum dignissimos accusamus! Illum quod sit optio, labore magni architecto tempore enim aliquam vel
            totam esse aliquid accusamus modi! Ducimus, quas ea eos dolores nihil deleniti. Tenetur, rerum labore! Odit
            cupiditate dolorum consequuntur architecto quidem quod provident fugiat velit, laborum, sed cum sequi
            voluptatum? Nostrum facilis dolorum quae ex necessitatibus sequi officiis distinctio explicabo atque autem?
            Doloremque laborum qui libero tenetur natus corporis, voluptates quas modi necessitatibus consequuntur
            itaque! Iure, qui, laboriosam illo assumenda sed modi officia corrupti porro, temporibus molestias animi
            eveniet eum velit! Fugiat animi voluptatem veniam ipsum voluptate vitae pariatur ipsa, debitis totam libero
            saepe ratione fugit beatae. Esse saepe sit, soluta cum eligendi explicabo, molestiae autem officiis vitae
            quis est. Quibusdam nihil error quis quo reiciendis amet, saepe harum fugiat eaque accusantium illum,
            voluptates minima totam reprehenderit animi quos maiores laboriosam quas dignissimos rerum, aliquam iusto
            deleniti. Libero eius nihil iusto officiis eligendi sed sit consequuntur incidunt! Rerum modi ab nemo ut
            culpa velit vel sint debitis quasi aperiam hic fuga facere, sed doloribus neque praesentium. Quis architecto
            aliquam accusamus molestiae voluptate temporibus dicta assumenda, obcaecati quasi placeat repellat iure,
            reiciendis tempora ea! Ipsa autem eveniet consequatur optio, hic nesciunt! Iste pariatur cumque nam,
            repellendus facere quasi debitis amet accusamus, qui consequatur ipsa aperiam non vitae architecto ad
            blanditiis eius dignissimos minima omnis ducimus sit eos? Illum mollitia distinctio corrupti odio molestiae
            est nemo culpa exercitationem blanditiis excepturi possimus quos ullam neque dignissimos eveniet eos
            adipisci facere saepe iste quo sapiente, nostrum placeat dicta! Rerum ab necessitatibus optio. Amet,
            inventore. Ducimus adipisci repellat animi voluptates, earum reiciendis explicabo hic provident ad saepe
            unde eum quod inventore incidunt architecto non cum deserunt, maiores atque assumenda accusamus esse? Ab
            labore facilis vitae incidunt! Non doloremque inventore at dicta molestiae. Consectetur voluptatibus itaque
            mollitia. Facilis, debitis est cum ipsa consectetur dignissimos quo, repudiandae qui doloremque nesciunt
            fugiat hic asperiores et? Nihil corrupti est quasi odit reprehenderit, dolorem possimus eveniet architecto
            nostrum blanditiis, necessitatibus consequuntur iste aut dicta, molestias enim cum animi non nesciunt! Autem
            quaerat rem esse ut officiis!
        </p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>